.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 120px; */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    /* background-color: brown;
    grid-gap: 10px 30px; */
    justify-content: start;
    align-content: center;

   
}

.grid-container div{
    background-color: chocolate;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    
}
.item-one{
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
}